body{
background-color: rgb(241, 168, 232);
}

.form-container{
  top:50%;
  left:50%;
  height: 150px;
  width: 200px;
  padding: 50px;
  position: absolute;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  text-align: center;
  border: 8px solid rgb(13, 4, 54);
  border-radius: 5px;
  background-color: rgb(19, 226, 233);
  
}
button{
  color: rgb(192, 78, 78);
  background-color: rgb(104, 211, 130);
}
span{
  color: red;
}
.success-message{
  color: rgb(55, 0, 255);
}